html {
    font-family: 'Bitter', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto-Bold', serif;
    font-family: 'Roboto-Regular', serif;
    background: #FFF;


}


body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;



}

h2, ul, p {
    margin: 0;
    padding: 0;
  }


/*@font-face {
    font-family: "Bitter", serif;
    src: url(/fonts/Bitter-Light.ttf) format(.ttf);
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Bitter", serif;
    src: url(/fonts/Bitter-Regular.ttf) format(.ttf);
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@font-face {
    font-family: "Playfair Display', serif";
    src: url(/fonts/PlayfairDisplay-Medium.ttf) format(.ttf);
    color: #000;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

   

}

@font-face {
    font-family: "Playfair Display', serif";
    src: url(/fonts/PlayfairDisplay-SemiBold.ttf) format(.ttf);
    color: #000;
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

   

}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto-Black.ttf) format(.ttf);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto-Bold.ttf) format(.ttf);
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto-Medium.ttf) format(.ttf);
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(/fonts/Roboto-Regular.ttf) format(.ttf);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

*/



header{
display: flex;
max-width: 100%;
overflow: hidden;



}
.container {
    display: flex;
    width: 98%;
    height: 135px;
    outline: 1px solid #FFF;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    max-width: 2fr;
    height: 103px;
    margin: 0;
    vertical-align: center;
    color: #000;
    font-family: "Playfair Display";
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    justify-content: flex-end;
}

.nav {
    display: flex;
    height: 28px;
    color: #000;
    text-align: right;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    vertical-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    






}

.nav-link{
    height: 28px;
    color: #000;
    text-decoration: none;
    margin: 20px;
}

main{
    flex-grow: 1;
}
.hero-section {


    background-color: DDD0C7;
    background-image: url(/img/background.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 630px;
    align-items: stretch;
    margin-bottom: 0 auto;
    padding-top: 100px;
    padding-bottom: 0 auto;
    justify-content: center;
}




.section-h {
    display: block;
    max-width: 690px;
    max-height: 360px;
    gap: 14px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #FFF;
    text-align: center;
    justify-content: center;
}


.hero {
    display: grid;
    justify-content: center;
    font-size: 86px;
    line-height: 103px;
    margin-bottom: 18px;

}


.subtitle {
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;


}

ul {
    list-style: none;
  }

  .img-katya-img{
    max-width: 571px;
    justify-content: end;
    position: relative;

}

.biography-block {
    display: flex;
    max-width: 90%;
    margin-top: 10%;
    justify-content: center;
   
   
}



.bio {
    display: flex;
flex-direction: column;
max-width: 48%;
margin-left: 20px;


}



.title-biography {
    padding: 90px 0 0 0;
    width: 50px;
    color: #000;
    font-family: "Roboto-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.bio-content {
    display: block;
    transform: rotate(-90deg);

}



.content-block {
    display: flex;
    max-width: 455px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
 
}


.h-katya {
    padding: 90px 0 0 0;
    width: 50px;
    height: auto;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-size: 86px;
    font-style: medium;
    font-weight: 500;
    text-align: left;
    align-content: center;


}




.item-biography {
    display: inline-block;
    height: auto;
    color: #000;
    text-align: left;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
}

.list-bio {
    display: flex;
   

}
.item-bi:nth-of-type(n+2):before {
    content: "/";
    width: 10px;
    height: 10px;

}


.dash-bio {
    display: block;
    width: 20px;
    height: 6px;
    background-color: #000;
    margin-top: 18px;
     
}

.blockquote {
    display: flex;
    max-width: 455px;
    height: auto;
}



.quote {
    display: flex;
    color: #000;
    text-align: left;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    overflow: hidden;

}

.designers-block {
    display: grid;
    width: 100%;
    height: 750px;
    margin-top: 50px;
    margin-bottom: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: start;
    color: #000;
    gap: 20px;
    overflow-y: hidden;
    align-items: end;
}



.title-designers {
   
    color: #000;
    font-family: "Roboto";
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    padding-left: 100px;


}

.jess {
    justify-content: end;


}


.jess-content {
    align-self: baseline;
    color: #000;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: end;
}

.kameron {
    justify-content: end;
    align-items: end;

}


.kameron-content {
    align-self: baseline;
    color: #000;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: start;

}

.louisse {
    justify-content: end;
    align-items: end;
}


.louisse-content {
    align-self: baseline;
    color: #000;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: start;
}

.kameron-two {
    justify-content: end;
    align-items: end;

}

.kameron-two-content {
    align-self: baseline;
    color: #000;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    justify-self: start;
}


.testimonials-block {
  
    display: grid;
    max-width: 70%;
    margin-left:10% ;
    margin-right: 10%;
    height: 760px;
    margin-top: 50px;
    grid-template-columns: 15% 40% 10% 30%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    column-gap: 1em;
    grid-template-areas:
    
    "ts-a ts-b ts-c ts-d"
    "ts-a ts-b ts-c ts-e";
     
     
      
}

.link-ts {
    display: flex;
    max-width: 98px;
    height: 760px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: ts-a;
}
.more {
    text-decoration: none;
    color: #000;

}

.website {
    display: block;
    max-width: 98px;
    transform: rotate(270deg);
    justify-self: end;
    align-self: center;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}



.brand {
    display: block;
    justify-self: end;
    max-width: 98px;
    transform: rotate(270deg);
    align-self: center;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.creativity {
    display: block;
    justify-self: end;
    max-width: 98px;
    transform: rotate(270deg);
    align-self: center;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;



}
.img-img {
    display: block;
    grid-area: ts-b;
    object-fit: cover;
   max-width: 100%;
  

}

.title-testimonials {

    grid-area: ts-c;
    max-width: 28px;
    max-height: 140px;
    display: flex;
    justify-self: start;
    writing-mode: vertical-lr;
    align-items: baseline;
    margin-left: 14%;
    color: #000;
    font-family: "Roboto-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transform: rotate(-180deg);
}


.blockquote-testimonials {
    max-width: 221px;
    max-height: 304px;
    color: #000;
    text-align: center;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: ts-d;
}






.image-sinitta {
    grid-area: ts-e;
    align-self: start;
    gap: 0 0 20px 0;
    align-items: start;


}

******

.st-title {
    align-self: baseline;
    color: #000;
    font-family: "Roboto";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: start;
    margin-left: 15%;
    margin-bottom: 0;
    margin-top: 50px;


}

.strong-points-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: grid;
    width: 100%;
    max-height: 700px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15%, 1fr);
    color: #000;
    gap: 30px;
    overflow-y: hidden;
    justify-items: center;
    margin-top: 50px;
grid-template-areas:
"st-a st-b st-c sp-d";

}


.computer {
grid-area: st-a;
    width: 100%;
    margin-left: 5%;
}

.armchair {
    grid-area: st-b;
    width: 100%;
}

.strengths {
    grid-area: st-c;
    width: 100%;
    justify-content: center;

}

.title-strengths {
    font-family: "Playfair Display";
    color: #000;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    justify-self: center;
    float: left;
    padding-bottom: 3%;
}

.cafe-photo {
    grid-area: st-d;
    max-height: 555px;

}

.list-strong {
    text-align: left;
    margin-left:25% ;

}

.list {
    display: inline-block;
    color: #000;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
   

}

@supports (display: flex) {
    .strong-points-block {
        display: flex;
        width: 100%;
        max-height: 700px;
        color: #000;
        gap: 30px;
        overflow-y: hidden;
        justify-items: center;
        margin-top: 50px;
        flex-direction: row;
        justify-content: center;

    }



    .computer {

        width: 100%;
        margin-left: 5%;
    }

    .armchair {

        width: 100%;
    }

    .strengths {

        width: 100%;
        justify-content: center;

    }

    .title-strengths {
        font-family: "Playfair Display";
        color: #000;
        font-size: 86px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        justify-self: center;
        float: left;
    }

    .cafe-photo {

        max-height: 555px;

    }

    .list-strong {
        text-align: left;

    }

    .list {
        display: inline-block;
        color: #000;
        font-family: "Bitter";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        list-style: none;

     


    }



}

footer {
    display: flex;
    max-width: 100%;
    height: 168px;
    background-color: #0D0D0D;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 0;
    margin-top: 100px;
    text-align: center;
    align-items: center;


}

.address {
    display: flex;
    width: 30%;
    gap: 3%;
    justify-content: start;
    text-align: start;
    align-self: center;
    text-decoration: none;

}

.futer-adress {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.content-footer {
    display: flex;
    width: 30%;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto-Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 2%;



}

.copyright {
    display: flex;
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 3%;
    justify-content: end;
    align-self: center;
}


.menu-header-message {
    max-width: 100%;
    
  }

.page-scroll{
    overflow: hidden;
}

.dialog-modal {
    width: 480px;
    height: 590px;
    gap: 24px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}
    
   
  

  .modal-form-element {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
   
  }
  
  .modal-form-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
  }
  


@media screen and (min-width: 768px) and (max-width: 1020px) {

    .title-testimonials {

        display: flex;
       position: absolute;
        align-items: baseline;
        margin-left: 14%;
        margin-top: -15%;
        transform: rotate(270deg);

    }

    
.biography-block {
    flex-wrap: wrap;
    min-height: 630px;
    min-width: 760px;

}



    .strong-points-block {
        grid-auto-flow:row;



    }
 
}

@media screen and (max-width: 767px) {
    .body {
        padding: 0;
        margin: 0;
        max-width: 99%;
        display: flex;
       
    }

    main {
        order: 1;
        max-width: 100%;
    }
    header {
        order: 2;
        max-width: 100%;
        position: fixed;
        bottom: 0;
    }

    footer {
        order: 3;
        max-width: 100%;
    }


    .container {
        display: flex;
        align-items: center;
        height: 82px;
        width: 100%;
        position: fixed;
        background-color: #fff;
        bottom: 0;
        z-index: 3;
        border: 1px solid #000;
        justify-content:flex-end;
        order: 2;
    }

    .logo {
        display: none;
    }

    .nav{
        width: 100%;
        height: 82px;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    
    }

    .nav-link {
      width: 30px;
      height: 45px;
        text-overflow: clip;
        overflow: hidden;
        margin: 0;
        font-weight: 400;
        font-size: 40px;
        font-family: 'Bitter-Regular';
        font-style: normal;
        letter-spacing: 10px;
      
    }



.hero-section {
    height: 764px;
    max-width: 99%;
    padding: 0;
    background-size: auto 55%;
    background-position: left bottom;
    margin-bottom: 15%;
}
.section-h {
    padding-left: 0;
    padding-top: 20%;
    padding-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    white-space: normal;
    
}
h1.hero{
    white-space: normal;
    font-size: 70px;
    align-items: center;

}


.biography-block {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-around;
    gap: 0;
    margin-bottom: 18%;
    flex-direction: column-reverse;
    position: relative;


   
}
.block-img{
    width: 100%; 
    height: 400px; 
    margin: 0; 
}


.img-katya-img::after {
 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 

}

.bio {
    max-width: 100%;
}

.bio-conetent {
    transform: none;
    translate: -50px;
}
.title-biography {
  
  position: absolute;
   padding: 0;
   top: 0;
   right: 0;
   width: auto;
   transform: rotate(90deg);


}



.item-biography {
    order: -3;
   
}

.list-bio {
    flex-direction: column;
}



.item-bi::before {
content: "-";

}

.item-bi:nth-of-type(n+2):before {
    content: "-";
    width: 10px;
    height: 10px;

}

.blockquote {
    order: -1;
    white-space: normal;
    
}

.h-katya h2  {
    
        white-space: normal;
        font-size: 64px;
        font-weight: 300;
        margin: 0;
        text-align: center;
        margin-bottom: 9%;
        display: flex;
        order: 2;
      

}
.h-katya h2::before{
    content: "-";
    white-space:normal;
}

.dash-bio {
    display: none;
}

.content-block {
    max-width: 90%;
    
}


.title-designers {
   padding-left: 0;
   margin-left: 5%;
    
    }
    
.designers-block {
    
   display: grid;
    gap: 16px;
    max-width: 97%;
    margin-left: 2%;
    margin-bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    height: 550px;
    grid-template-areas:
      "jess kam lou kam-tw"
     
}


.jess {
    grid-area: jess;
    grid-template-columns: 310px;
    justify-content: center;
}

.jess::after { 
    background-image: url(/img/spurwing.jpg);
     
}
.jess-content{
justify-content: start;
justify-self: start;


}

.kameron {
    grid-area: kam;
 
}




.louisse {
    grid-area: lou;

}




.kameron-two {
    grid-area: kam-tw;


}

.testimonials-block {
  
    max-width: 100%;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(4, 1fr);
    /*padding:0px, 16px, 0px, 16px;*/
    gap: 28px;
    min-height: 900px;
    justify-content: center;
    grid-template-areas:
    "ts-c"
    "ts-d"
    "ts-e"
    "ts-a";
    align-items: center;
    justify-items:center;
    margin-bottom:  100px;
    margin-left: 0;
    margin-right: 0;
}


.title-testimonials {
    
    width: 98%;
    height: 100%;
    transform: rotate(270deg);
    text-align: end;
    align-items: end;
   margin-left: 80%;
    font-size: 18px;
  

}

.blockquote-testimonials {
   max-width: 90%;
   margin-top: -100px;
   font-weight: 300;
   font-size: 30px;
   margin: 0;

}

.img-img{
    display: none;

}

.image-sinitta::after {
   
    display: block;
    width: 98%;
    margin: 0;
    object-fit: cover;
    
 
}


.link-ts {
  
    max-height: 96px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap:16px;
    max-width: 97%;
    margin-left:10px ;
    font-size: 16px;
}

.website  {
display: block;
max-width: 40%;
transform: rotate(360deg);


    
}

   
.creativity {
    display: block;
    max-width: 40%;
    transform: rotate(360deg);
   
}


.brand  {
    display: block;
    max-width: 40%;
    transform: rotate(360deg);
}

.strong-points-block {
  
   margin: 0;
   justify-content: flex-start;
   

}

.strengths {
 order: -1;


}
.list-strong {
    margin-left: 0;
}


footer {
   max-width: 100%;
    flex-wrap: wrap;



}


}
