

html{
font-family: 'Bitter', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
width: 100%px;
height: 4395px;
background: #FFF;

}


.container {
    display: flex;
    width: 100%;
    height: 135px;
    outline: 1px solid  #FFF;
    box-sizing: border-box;
}

.logo {
display: inline-block;
width: 182px;
height: 103px;
padding: 0;
margin: 20px 20px 20px 0;
vertical-align: center; 
color: #000;
font-family: "Playfair Display";
font-size: 86px;
font-style: normal;
font-weight: 600;
    }
    
 .nav {
     display: inline-block;
     width: 1195px;
     height:28px;
     padding: 0;
     margin: 50px 0 50px 202px;
     position: static;
    color: #000;
    text-align: right;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    vertical-align: center; 
     
        }
        .button { 
            width: 109px;
            height:28px;
            padding: 0;
            margin: 20px 0 20px 20px;  
            color: #000;
        }
       
        
        .hero-section {
           
            background-color: DDD0C7;
            background-image: url(/img/background.jpg); 
            background-size: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height:630px;
            align-items: stretch;
            margin-bottom: 0 auto;
            padding-top: 100px;
            padding-bottom: 0 auto;
            justify-content: center;
        }

        
        

        .section-h {
            display: block;
            max-width:690px; 
            max-height: 360px;
            top: 271px;
            left: 375px;
            gap: 14px;
            margin: 0 auto;
            padding-top: 110px;
            padding-bottom: 110px;
            padding-left: 20px;
            padding-right: 30px;
            background-color: #FFF;
            text-align: center;
            justify-content:center;
        }
       
        
        .hero {
            display: grid;
            justify-content:center;
            font-size: 86px;
            line-height: 103px;
            margin-bottom: 18px;
            
        }
        
        
        .subtitle {
            display: grid;
            justify-content:center;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
          
             
        }

       .biography-block {
        display: flex;
        width: 100%;
        height: 840px;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 100px;
        align-self: stretch;
        flex-shrink: 0;


       }

       .Image {
        width: 571px;
        margin-left: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
       }

       .title-biography {
        color: #000;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        width: 115px;
        height: 23px;
        transform:rotate(270deg);
        align-self: flex-start;
        padding-top: 50px;
    }

       .content-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 455px;
        margin-right: 100px;
        align-self: baseline;
        align-items:baseline;
        text-align: left;
       

       }


       h2 {
        font-family: 'Playfair Display', serif;
        color: #000;
        font-size: 86px;
        font-style: medium;
        font-weight: 700;
        font-weight: 466;
        text-align: left;
       }
       


.item-biography {
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 36px;

}

.quote{
    color: #000;
    text-align: center;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;

}

.list, .quote {
    color: #000;
    text-align: center;
    font-family: "Bitter";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title, .sidebar-more, .designers-article {
color: #000;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}


.content-biography, .content-footer {
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .more, .address, .copyright {
        color:  #000;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        }


